# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/* 
public/system/graphics/**/*

.bundle
db/*.sqlite3
log/*.log
tmp/
