/** Default style rules **/
* {
  margin: 0; }

input, textarea, fieldset, form, select{
  padding: 0; outline: none; border: 0;
}

select, option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
}

/** normal css rule **/
/*line-height: 1.8em;*/
/*html, body {font-family: Euphemia UCAS, Century Gothic, Verdana, sans-serif; text-align:center; font-size: 0.625em;}*/
/** sassy css **/
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Euphemia UCAS, Century Gothic, Verdana, sans-serif;
  text-align: center;
  font-size: 0.625em; }

html {
  overflow-y: auto;
  background-color: transparent;
  font-family: Euphemia UCAS, Century Gothic, Verdana, sans-serif;
  text-align: center;
  font-size: 0.625em; }

header{
  margin-bottom: 1em;
}

footer {
  border-top: 1px solid #f0f0f0;
  margin-top: 1em;
  padding: 1em 2.5em;
  font-size: .7em;
}

/** Scroll bars **/
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: block;
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  /*background-color: #3b3b3b;*/
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #666;
  border: 1px solid #eee;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#container {
  min-height: 20em;
  margin: 0 auto;
  width: 60em;
  max-width: 100%;
  min-width: 60em;
  text-align: left;
  font-size: 2.25em; }

a {
  text-decoration: none;
  color: #606060; }

a:hover {
  color: #000000; }

/*a:active{color: #3F8692;}*/
a.selected {
  color: #3F8692; }

/** Header: Menu **/
#menu {
  padding: 2em 0 1em 0; /*4em*/
  color: #606060;
  min-width: 60em;
  /*position: fixed;
  background: #fff;*/
  }

#home {
  float: left;
  word-spacing: .01em; }

#work {
  float: left;
  margin-right: 2em;
  /*margin-left: 20em;*/
  /*margin-left: 23em;*/
  margin-left: 26.3em; }

#work ul li, #sub_menu ul li {
  display: inline-block;
  list-style-type: none;
  padding-left: 1em; }

#contact {
  word-spacing: .01em;
  float: right;
  /*margin-right: 5em;*/ }

#main_menu {
  padding-bottom: 2em; }

#sub_menu {
  float: right;
  margin-right: 14.45em; }

#sub_menu_art ul {
  padding: 0;
  border-top: 0.35px solid #606060; }

#sub_menu_art ul li:first-child {
  padding: 0; }

/** Section: Body **/
/*max-width:100%;*/
/*margin-left: 6.5em;*/
/*margin-right: 11.5em;*/
/*margin-right: 8.5em;*/
.content {
  clear: both;
  /*margin: 0 auto;*/
  width: 550px;
  padding: 15px 0px; }

.workpiece-holder {
  margin: 0 auto;
  overflow: hidden;
  display: table;
}

.workpiece-description {
  /*margin-top: 1em;*/
  /*margin-left: 1em;*/
  color: #000;
  font-size: 1.1em;
  /*text-align: right;*/ }

.workpiece-metainfo {
  font-size: .8em;
  color: #000;
  /*margin-left: 1.5em;*/
  /*text-align: right;*/ }

.inner-border {
  /*margin-left: 1em;*/ 
  border: .3em solid #f0f0f0;
  padding: .5em;
  display: table;
}

.outer-border {
  /*border: 0.1em solid #000;*/ 
  margin-bottom: 2em;
  display: table;
}

.file_upload_iframe_form{
  display: none; }

/*
a {
  text-decoration: none;
  color: #606060; }

a:hover {
  color: #000000; }
a.selected {
  color: #3F8692; }*/

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #606060; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #3F8692; }
  .pagination a {
    color: #606060;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      color: #3F8692; }
  .pagination .page_info {
    color: #606060;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

.actions {
  /*margin-left: 1.9em;*/
  margin-top: 2em;
}

#user_nav{
  text-align: right;
  padding-top: 2em;
  /*font-size: .7em;*/
}
#messages{
  height: 2em;
  line-height: 2.25em;
}
#messages .success, #messages .notice{
  border: .1em solid #7AD98F;
  background-color: #AFE5BB;/*#94D9A3;*/
  color: #0E6020;
  padding: .5em 2em;
}
#messages .warning{
  border: .1em solid #F9DB98;
  background-color: #F9E7BE;
  color: #EDC263;
  padding: .5em 2em;
}
#messages .error{
  border: .1em solid #F9A198;
  background-color: #F9C4BE;/*#94D9A3;*/
  color: #801D12;
  padding: .5em 2em;
}

.action_header{
  padding-bottom: .1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #606060;
  width: 15em;
}
.field{
  margin-bottom: 1em;
}
.field input{
  width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0;
  background: #f0f0f0;
}
.field input::-webkit-input-placeholder  {
  color: #606060; /*text-shadow: 0px -1px 0px #38506b;*/
}
.field input:-moz-placeholder {
  color: #606060; /*text-shadow: 0px -1px 0px #38506b;*/
}
.field textarea {
	width: 26em; 
        height: 17em; 
        padding: 12px 20px 0px 20px; 
        margin: 0 0 20px 0;
	background: #f0f0f0;
	/*background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	/*border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-transform: uppercase; text-shadow: 0px -1px 0px #334f71; */
}
.field textarea::-webkit-input-placeholder {
  color: #606060; }
.field textarea:-moz-placeholder {
  color: #606060; 
}
input:focus, textarea:focus {
	background: #f0f0f0;
	/*background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}
input[type=text], input[type=password], textarea{
  border: .1em solid #fff;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: .1em solid #b0b0b0;
}
input[type=submit], input[type=button] {
  padding: .8em 2em;
  /*background-color: #A8D2DA;*/
  border: 1px solid #fff; /*87CDDA*/
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87CDDA), to(#A8D2DA));*/
  /*border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;*/
  /*background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8D2DA), color-stop(100%,#3F8692)); /* webkit */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e0e0e0));
  cursor: pointer;
}
.file_upload  input[type=file]{
  width: 32em;
}

.file_upload  input[type=button]{
  width: 10em;
  border: .1em solid #f0f0f0;
  margin-left: .5em;
}
.file_upload .fake_input {
  width: 20em;
  padding: 0 20px;
  margin: 0;
}
input[type=submit]:active, input[type=button]:active {
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0b0b0), color-stop(100%,#f0f0f0));*/
  background: #e0e0e0;
}
input[type=submit]:hover, input[type=button]:hover {
  border: .1em solid #b0b0b0;
  /*border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;*/
  /*background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A8D2DA), to(#87CDDA));*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F8692), color-stop(100%,#A8D2DA)); /* webkit */
}
input[type=submit]:disabled, input[type=button]:disabled {
  background: #e0e0e0;
  border: none;
  cursor: default;
}
#work_graphics{
}
#work_graphics h2{
  margin-top: 2em;
  margin-bottom: 1em;
}
input[type=file] {
  background: #fff;
}
.file_upload .field{
  position: relative;
}
div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}
.field select {
  width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0;
  background: #f0f0f0 url('/images/select_arrow_3.png') no-repeat left top;
}
.field option {
  width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0;
  background: #f0f0f0;
}
.field_label{
  font-size: .7em;
  color: #b0b0b0;
}
.login_title{
  margin: 1em 0;
}
.delete_button{
  margin: 1em 0;
}
.actions_new{
  width: 20em;
}
.contact_details{
  font-size: 2.25em;
  text-align: left;
  vertical-align: middle;
  margin-top: 3.25em
}
.contact_details div{
  margin-bottom: 1em;
}
.loader_info{
  font-size: 2.25em;
  padding: 2em 3em;
  font-family: Euphemia UCAS, Century Gothic, Verdana, sans-serif !important;
  color: #606060;
  display: none;
  top: 0; 
  background: #fff;
  position: fixed; 
  overflow: auto; 
  z-index: 11;
}
.custom_select{
  height:35px;
  display:inline-block;
  min-width:200px;
  position:relative;
  width: 220px;
  line-height: 2.25em;
}
.custom_select .select_box{
  position:absolute;
  cursor:pointer;
  background: #f0f0f0 url('/images/select_arrow_3.png') no-repeat left top;
  padding-left:20px;
  padding-right:20px;
  width: 220px;
  height: 35px;
}
.custom_select .dropDown {
  top:35px;
  position:absolute;
  width:100%;
  padding: 0;
  list-style:none;
  list-style-type: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.custom_select li{
  height:35px;
  width: 220px;
  cursor:pointer;
  position:relative;
  background: #f0f0f0;
  border-top: 1px solid #d0d0d0; 
  padding-left:20px;
  padding-right:20px;
}
.custom_select li:last-child {
  border-bottom: 1px solid #d0d0d0; 
}
.custom_select li:hover {
  color: #3F8692;
}
.custom_select li span{
}
#modal_mask {
  background: #b0b0b0; 
  position: fixed; 
  top: 0; 
  overflow: auto; 
  z-index: 10;
}
#contact_details {
  display: none; 
  width: 100em; 
  top: 0; 
  background: #fff; 
  position: fixed; 
  overflow: auto; 
  z-index: 11;
  padding: 4em;
}
#spacer{
  /*width: 100%;
  height: 56px;/*84px;*/
  display: none;
}

#send_message{
  text-align: left;
  font-size: 2.25em;
  float: left;
}

#send_message_instructions{
  margin-left: 27em;
  padding-left: 3em;
  font-size: 2.25em;
  text-align: left;
  border-left: .1em solid #f0f0f0;
  min-height: 30em;
  padding-top: 1em;
}

