<div id="main_menu">
  <div id="home" class="menu_link">
    <!--a rel="home" href="/">Helen Gruber</a-->
    <%= link_to 'Helen Gruber', root_path %>
  </div><!-- 77.65px -->
  <div id="work">
    <ul>
      <% @sections.each do |section| %>
        <li class="menu_link" >
          <!--a rel="infographics" href="#">Infographics</a-->
          <%= link_to_section section.name.capitalize!, @current_section_id, section.id %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="contact" class="menu_link"><a rel="contact" class="nyroModal" href="#contact_details">Contact</a></div><!-- 45px -->
</div>
<div id="sub_menu"></div>
<div id="sections"></div>
