<div id="main_menu">

                    <!-- href value should be the application root -->
                    <div id="home" class="menu_link"><a rel="home" href="/">Helen Gruber</a></div><!-- 77.65px -->
                    <div id="work">
                        <ul>
                            <li id="infographics" class="menu_link" ><a rel="infographics" href="#">Infographics</a></li>
                            <li id="art" class="menu_link"><a rel="art" href="#">Art</a></li>
                            <li id="information" class="menu_link"><a rel="information" href="#">Information</a></li>
                        </ul>
                    </div>
                    <div id="contact" class="menu_link"><a rel="contact" href="#">Contact</a></div><!-- 45px -->
                </div>
                <div id="sub_menu"></div>
                <div id="sections"></div>
