<div class="content">

<div class="workpiece-holder">

<div class="outer-border">
<div class="inner-border">
  <img src="/images/Mücken_ZEIT.png" alt="Work piece test" width="500px" />
</div>
</div>
</div>
<div class="workpiece-description">
   Work Piece info
</div>
<div class="workpiece-metainfo">
   Work piece meta info
</div>
</div>

<div class="content">

<div class="workpiece-holder">
<div class="outer-border">
<div class="inner-border">
  <img src="/images/Mücken_ZEIT_bottom.png" alt="Work piece test" width="500px" />
</div>
</div>
</div>
<div class="workpiece-description">
  Work piece test smaller thumbnail
</div>
<div class="workpiece-metainfo">
   Work piece meta info
</div>
</div>
