<% content_for :menu do %>
  <%= render "shared/menu" %>
<% end %>

<div class="action_header">
  <h1>New Work Piece</h1>
</div>

<%= render 'form' %>

<div class="actions">
  <%= link_to 'Back', work_pieces_path %>
</div>
